<div class="col-md-8 col-md-offset-2">
	<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="isbn">ISBN</label>
			<input class="form-control"
				type="text"
				id="isbn"
				formControlName="isbn">

			<label for="title">Title</label>
			<input  class="form-control"
				type="text"
				id="title"
				formControlName="title">

			<label for="imageUrl">Image</label>
			<input  class="form-control"
				type="text"
				id="imageUrl"
				formControlName="imageUrl">

			<label for="author">Author</label>
			<input  class="form-control"
				type="text"
				id="author"
				formControlName="author">

			<label for="description">Description</label>
			<input  class="form-control"
				type="text"
				id="description"
				formControlName="description">
		</div>
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>